body{
    background: linear-gradient( #39289F, #383837);

}

.logo{
    display: flex;
    flex-direction: row ;
    color: white;
    font-size: 29px;
    font-family:'Poppins', sans-serif;
    margin-left: 50px;
    
}
.logo1{
    display: flex;
    flex-direction: row ;
    padding-left: 147px;
}


nav{
    background-color: #39289F;
    padding: 10px 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

.nav-bar{
    display: flex;
    flex-direction: row-reverse ;
    font-size: 20px;
    color: white;
    flex-shrink: 20px;
    padding-right: 50px;
    
}

.cor{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 55px;
    padding-top: 5px;
    font-family:'Poppins', sans-serif;

}
.decBu{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.contact{
    border-color:#FA9021 ;
    background-color: #FA9021;
    border-radius: 6px;
    width: 150px ;
    height: 50px;
    

}

.p_Home{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.p_1{
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-right: 1px;

}

.p2{
    color: #E47500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.h1_Lorem{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
}

.pLorem{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 100px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

.imagGlobal{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.Group_p3{
    display: flex;
    box-flex: row wrap;
    justify-content: center;
    margin-bottom: 100px;
    height: 102px;
}

.Follow{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-right:1px solid white ;
    margin-right: 100px;

    
}

.Rede2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-right: 100px;
}

.Fol2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 22px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.local{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 100px;
    font-size: 22px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.tel{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px ;
   
}

.p_tel{
    margin-right: 100px;
    font-size: 22px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.telefone{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-right:1px solid white ;
    margin-right: 100px;
}


.Say{
    background-image: url(Imagens/Group\ 1216.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
   

}

.h3_input{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.p_input{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.Nome{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Poppins', sans-serif ;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.Nome1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    width:322px ;
    height: 56px;
    border-radius:9px ;
    background-color:#ffffff18;
    font-family:'Poppins', sans-serif ;
    color: white;
}

.First_Name{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: white;
    font-family:'Poppins', sans-serif ;
}

.nome1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    width:322px ;
    height: 56px;
    border-radius:9px ;
    background-color:#ffffff18;
    font-family:'Poppins', sans-serif ;
    color: white;
}

.Last_Name{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: white;
    font-family:'Poppins', sans-serif ;
}

.sobrenome{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    width:322px ;
    height: 56px;
    border-radius:9px ;
    background-color:#ffffff18;
    font-family:'Poppins', sans-serif ;
    color: white;
}

.Email{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: white;
    font-family:'Poppins', sans-serif ;
   
}
.Email2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 671px;
    height: 56px;
    border-radius: 9px;
    background-color:#ffffff18;
    font-family:'Poppins', sans-serif ;
    color: white;

}

.Message{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: white;
    font-family:'Poppins', sans-serif ;
}

.Message2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 671px;
    height: 232px;
    border-radius: 9px;
    background-color:#ffffff18;
    font-family:'Poppins', sans-serif ;
    color: white;

}

.button1{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 50px;
    margin-bottom: 200px;
    width: 671px;
}

.button_Say{
    background-color: #DC7000;
    border-color: #DC7000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 193px;
    height: 57px;
    border-radius: 10px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.lorem2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 74px;
    padding-left: 147px;
    margin-right: 50px;
    width: 500px; 
}

.First_Name.error .nome1  + small{
    color: #DB5A5A;
    visibility: visible;
}

.Last_Name.error .sobrenome + small{
    color: #DB5A5A;
    visibility: visible;
}

.Email.error .Email2 + small{
    /* border: 3px solid #DB5A5A; */
    color: #DB5A5A;
    visibility: visible;
}

.Message.error .Message2 + small{
    color: #DB5A5A;
    visibility: visible;
}

.input small{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    color: #DB5A5A;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
}


.h1part5{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.p_part5{
    color: white;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
}

.Stay{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    justify-content: space-around;
    width: 1270px;
    height: 189px;
    background-color:#1C140F ;
    border-radius:15px ;
}


.inputStay{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 40px;
}

.Part5{
    padding-bottom: 200px;
    padding-left: 147px;
    margin-right: 50px;
    
}

.h3_part5{
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.p2_part5{
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    width: 500px;
}

.button_part5{
    border-radius:8px ;
    background-color: #FA9021;
    border-color: #FA9021;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 105px;
    height: 44px;
}

.formInput.error .input2{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border: 3px solid #DB5A5A;
    color: #DB5A5A;
    visibility: visible;
}

.formInput small{
    display: flex;
    visibility: hidden;
}

small {
    display: flex;
    visibility: hidden;
}

.formInput.error small{
    color: #DB5A5A;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    visibility: visible;
}



.formButton{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.input2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    outline: none;
    width: 305.68px;
    height: 38px;
}


.form-crontol form{
    display: flex;
    flex-flow: row wrap;
    padding-top: 50px;
}
footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    justify-content: space-between;
    background-size: cover;
    background-color: black;
    height: 376px;
}

.footer_logo{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.P_footer{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.logo_p1{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
    height: 376px;
}

.About_footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 50px;
    width: 90px;
    height: 376px;
}

.Contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 50px;
    width: 200px;
    height: 376px;
}

.P_footerT{
    font-family: 'Poppins', sans-serif;
    color: white;

}

.imagRedeSocial{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 230px;
    align-items: center;

}

.Copyright{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   
    background-color: black;
    border-top: 1px solid white;
}