body{
    background-color: #39289F;
    background-image: url(Imagens/joy_stick\ 1.png);
    background-repeat: no-repeat;
    background-position-x: right;
}


.Imagens{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 200px;
    padding-right: 200px;
    flex-shrink: 20px;
}


.logo{
    display: flex;
    flex-direction: row ;
    color: white;
    font-size: 29px;
    font-family:'Poppins', sans-serif;
    margin-top: 30px;
    padding-left: 20px;
    
}

.nav-bar{
    display: flex;
    flex-direction: row-reverse ;
    color: white;
    flex-shrink: 20px;
    padding-right: 10px;
    
}

.cor{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-right: 55px;
    padding-top: 5px;
    font-family:'Poppins', sans-serif;

}

.decBu{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.contact{
    border-color:#FA9021 ;
    background-color: #FA9021;
    border-radius: 6px;
    width: 150px ;
    height: 40px;
    

}

.joy{
    display: flex;
    flex-direction: row-reverse;
    top: 30px;
    position: relative;
    top: 0px;
    z-index: 1;
}


.Part1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 600px;
    padding-left: 100px;
    padding-bottom: 200px;

}

.Proved{
    
    color:#E87D0E ;
    font-family:'Poppins', sans-serif;
    border-color: black;
    font-size: 36px;
    

    
}

.Work{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
}

.pPart1{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.details{
    background-color: #FA8305;
    height: 53px;
    width: 195px;
    margin-top: 50px;
    border-color:#FA8305 ;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}



.CutreGames{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 600px;
    padding-left: 80px;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 35px;
}

.Part2{
    padding-bottom: 50px;
    
}
.Part2_h2But{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: space-between;
}

.buttonSee{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 150px;
}


.seeAll{
    
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    width: 139px;
    height: 57px;
    border-radius: 10px;
    color: white;
    border-color: #4d3da2;
    background-color: #4d3da2;
}

.imgJogos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

.fire{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.fire2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px ;
}

.Foll{
    font-size: 22px;
    color: white;
    font-family: 'Poppins' sans-serif;
}


.loremMeio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.Lorem{
    font-size: 30px;
    color: white;
    font-family:'Poppins', sans-serif;


}

.pLorem{
    color: white;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
}

.lorem1{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
    margin-right: 50px;
    width: 500px;
}

.Rec4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 100px;
    
}

.ponto{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 500px;
}

.Part3{
    
    background-image: url(Imagens/Rectangle\ 5.png);
    background-position-x: center;
    background-repeat: no-repeat;
    
}

.imagBol{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.imagBol2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding-bottom: 200px; 
}

.imgProj{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 1170px;
    height: 278px;
}

.Part4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 200px;
}


.h1par3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.titulo_Part3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 150px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    
}

.p_part3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.bol{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 50px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.spaceBol{
    margin: 30px;
}

.h1part4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.buttonPart4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 105px;

}
.p_part4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 14px;
    color: white;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.button_part4{
    width: 139px;
    height: 57px;
    border-radius: 10px;
    color: white;
    border-color: #4d3da2;
    background-color: #4d3da2;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.lorem2{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 74px;
    padding-left: 100px;
    margin-right: 50px;
    width: 500px; 
}

.h1part5{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.p_part5{
    color: white;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
}

.Stay{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-around;
    width: 1270px;
    height: 189px;
    background-color:#1C140F ;
    border-radius:15px ;
}

.inputStay{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
    padding-top: 10px;
    padding-right: 40px;
}

.Part5{
    padding-bottom: 200px;
    padding-left: 100px;
    margin-right: 50px;
    
}

.h3_part5{
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.p2_part5{
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    width: 500px;
}

.button_part5{
    border-radius:8px ;
    background-color: #FA9021;
    border-color: #FA9021;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 105px;
    height: 44px;
}

.input2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    outline: none;
    width: 305.68px;
    height: 38px;
}

footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    justify-content: space-between;
    background-color: black;
    height: 376px;
}

.footer_logo{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.P_footer{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.logo_p1{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
    height: 376px;
}

.About_footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 50px;
    width: 90px;
    height: 376px;
}

.Contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-top: 50px;
    width: 200px;
    height: 376px;
}

.P_footerT{
    font-family: 'Poppins', sans-serif;
    color: white;

}

.imagRedeSocial{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 230px;
    align-items: center;

}



.Copyright{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid white;
}